*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#3555d4;
    --secondary:#1a1a19;
    --tartiary:#fbfcff;
    --cloud:#f0ffff;
}
.btn:hover{
   background-color: #0dcaf0 !important;
   color: black;
}
.largeT{
    font-weight: 700;
    font-size: 3.8rem;
    color: var(--tartiary);
}
.mediumT1{
    font-weight: 600;
    font-size: 2.1em;
    color: var(--tartiary);
}
.mediumT2{
    font-weight: 500;
    font-size: 1.7em;
    color: var(--tartiary);
}
.mediumT3{
    font-weight: 500;
    font-size: 1.2em;
}
.smallT{
    font-size: 0.9rem;
    color: var(--tartiary);
}
.primaryC{
    color: var(--primary);
}
.primaryB{
    background-color: var(--primary);
}
.secondaryB{
    background-color: var(--secondary);
}
.tartiaryC{
    color: var(--tartiary);
}
.cloudC{
    color: var(--cloud);
}
.nav-item{
    list-style: none; 
}
a{
    text-decoration: none;
}
.menu{
    background-color:var(--cloud);
}
.neu-input {
	box-shadow: inset 2px 2px 2px var(--secondary), inset -2px -2px 2px var(--secondary);
    
}
.neu-input::placeholder {
    color: white;
}
